</br>

<div class="columns">
  <div class="column is-one"></div>
  <div class="column is-10">
    <div class="box">
      <h1 class="title">Your registrations for Current Events:</h1>
      <a href="/role" class="button" type="submit">Register more people for SummerCamp!</a>
      </br>
      {{#each data}}
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title">{{dataValues.first_name}} {{dataValues.last_name}}</p>
              <p class="subtitle">{{dataValues.email}}</p>
            </div>
          </div>
          <div class="content">
            <p class="subtitle">Unit Number: {{dataValues.service_unit_number}}</p>
            <p class="subtitle">Troop Number: {{dataValues.troop_number}}</p>
            <p class="subtitle">Authorized Names: {{dataValues.authorized_release_names}}</p>
            <time>Registration Date: {{dataValues.createdAt}}</time>
            </br>
            <button class="button">Review your Info</button>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  <div class="column is-one"></div>
</div>